
body{
  background-color: #EDEFF4;
}

h6{
  color: white;
}

.header{
  background-color: #35363C;
  padding-top:0;
  padding-bottom: 0;
  max-height: fit-content;
}

.header .headerlogo{
  width: 100%;
  margin-top: 30px;
}

.header .menu{
  padding: 0px;
  margin: 55px;
  text-align: center;
  display:inline-block;
  vertical-align:top;


}

a {
  text-decoration: none;
}

.header .menu .menuitem{
  list-style-type: none;
  padding: 40px;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 4px;
  display: inline;
}

.header .menu .menuitem a {
  font-family: 'Kanit';
  font-size: large;
  color: #FFFFFF;

}

.header .menu .menuitem a:hover{
  color: #fcef57
}

.about{
  background-color: #FFFFFF;
  border: #D4D5DB;
  border-style: ridge;
  border-width: 1px;
  width: 100%;
  
}

.about p {
  color: #9B9B9B;
  font-family: sans-serif; 
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 25px;
}

h3{
  color: black;
  margin-top: 45px;
  font-family: "Kanit";
  letter-spacing: 0.05em;
  font-weight: 500;
  padding-left: 15px;
  border-left-style: solid;
  border-left-color: #35AD79 ;
  border-left-width: 5px;
  
}

.tittle1 {
  color: black;
  margin-top: 45px;
  font-family: "Kanit";
  letter-spacing: 0.05em;
  font-weight: 500;
  padding-left: 15px;
  border-left-style: solid;
  border-left-color: #35AD79 ;
  border-left-width: 5px;
}

.stats{
  background-color: #ffffff;
  border: #D4D5DB;
  border-style: ridge;
  border-width: 1px;
  width: 100%;
  height: auto;
}

.stats th{
  padding: 25px;
  border: #D4D5DB;
  border-style: ridge;
  border-width: 1px;
  text-align: center;
}

.stats th p {
  font-family:'Kanit';
  font-size: 44px;
    font-weight: 300;
    line-height: 1;
    color: #151515;
}

.stats th a{
  font-family: "Kanit";
  transition:0.5s;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 40px;
  color: #151515;
  background-color: #FCEF57;
  border-style: ridge;
  border-width: 1px;
  border-radius: 5px;
  border-color: #343A40;
  font-size: small;
  
  
}

.btn-primary:hover{
  background-color: #1A5F45;
}



.fields{
  background-color: #ffffff;
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
}

.fields tr {
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
}

.fields a {
  transition: 0.3s;
  font-family: "Kanit";
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.fields a:hover{
  color:#1A5F45 ;
}



.fields td img{
  width: 60%;
}

.bestplayersbtn{
  font-family:'Kanit';
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: small;
  transition: 0.5s;
  padding-left:20px;
  padding-right:20px;
  padding-top: 5px;
  padding-bottom: 5px; 
  background-color: #FCEF57; 
  color: black; 
  border-style: groove; 
  border-color: black; 
  border-width: 0.5px;
  border-radius: 5px;
}


.bestplayers{

  width: 100%;
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
  text-align: left;
}

.bestplayers .bestplayersbtn{
  font-family:'Kanit';
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: small;
  transition: 0.5s;
  padding-left:40px;
  padding-right:40px;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-color: #FCEF57; 
  color: black; 
  border-style: groove; 
  border-color: black; 
  border-width: 0.5px;
  border-radius: 5px;
}

.bestplayers .bestplayersbtn:hover{
  background-color: #35AD79;
  color:white;
}

.bestplayers td {

  padding-right: 0px;
  padding-left: 40px;
  text-align: left;
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
  
}

.bestplayers tr{
  text-align: left;
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
}



.bestplayersbtn:hover{
  background-color: #35AD79;
}



.bestplayers a{
  font-family: 'Kanit';
  background: none;
  color: #008FD7;
  transition: 0.3s;
}

.bestplayers a img{
  border-radius: 7px;
  transition:0.5s;
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.btn-secondary:hover{
  color: #1a5f45;
  background: none;
}

.bestplayers a img:hover{
  width: 135px;
  height: 135px;
}




.bestfields{
  margin-top: 115px;
  width: 100%;
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
  text-align: left;
}

.bestfields .bestplayersbtn{
  font-family:'Kanit';
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: small;
  transition: 0.5s;
  padding-left:40px;
  padding-right:40px;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-color: #FCEF57; 
  color: black; 
  border-style: groove; 
  border-color: black; 
  border-width: 0.5px;
  border-radius: 5px;
}

.bestfields .bestplayersbtn:hover{
  background-color: #35AD79;
  color:white;
}

.bestfields td {

  padding-right: 0px;
  padding-left: 40px;
  text-align: left;
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
  
}

.bestfields tr{
  
  text-align: left;
  border-style: ridge;
  border-width: 1px;
  border-color: #D4D5DB;
}



.bestfields a{
  font-family: 'Kanit';
  background: none;
  color: #008FD7;
  transition: 0.3s;
}

.bestfields a img{
  border-radius: 7px;
  transition:0.5s;
  width: 30%;
  margin-left: 40px;
  margin-right: 40px;
}

.btn-secondary:hover{
  color: #1a5f45;
  background: none;

}

.bestfields a img:hover{
  width: 32%;
}






.footer{
  background-color: #35363C;
  padding: 30px;
  margin-top: 100px;
}

.footer .footerlogo {
  width: 35%;
  margin-bottom: 0;
}

.footer table tr{
  float: left;
  
}


.footer table img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 40px;
  


}



.footer p{
  text-align: justify!important;
  margin-top: 20px;
  color: #FFFFFF;
  max-width: 270px;
  text-align: center;
  font-size: 13px;
  font-family: "Roboto";
  letter-spacing: 0.025em;
  font-weight: 400;
}

.footer h5{
  font-weight: 700!important;
  color: #35AD79;
  margin-bottom: 0;
}

.footer .mail{
  margin-top: 0;
}

.footer hr{
  color: #FCEF57; height: 4px;
}

.footer table {
  text-align: left;
}

.footer table .photo {
  width: 100px;
  height: 100px;
}

.footer table p{
  margin-left: 10px;
  margin-right: 160px;
  margin-top: 0;
  margin-bottom: 0;
  color:#9b9b9b;
  letter-spacing: 0.05em;
  font-family: 'Kanit', sans-serif;
}

.footer table .positioninfo{
  color:#707279;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 160px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: 'Kanit', sans-serif;
  
}

.footer table .adddate{
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #b7b7b7;
  font-weight: 600;
}

.footer table .playernamea{
  transition: 0.3s;
  letter-spacing: 0.05em;
  font-family: 'Kanit', sans-serif;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
  
}

.footer table .playernamea:hover{
  color: #35AD79;
}







